:root {
    font-family: 'Inter', Arial, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --black: #000000;
    --white: #ffffff;
    --blue: #4859F0;
    --blue-100: #293bd8;
    --dark: #212121;

    --light: #F5F5F5;
    --gray-100: #E2E0DF;
    --gray-200: #C4C4C4;
    --gray-300: #9B9591;
    --gray-400: #6F6F6F;
    --gray-900: #1B1B1B;

    --swiper-pagination-color: var(--white);
    --swiper-pagination-bullet-inactive-color: var(--white);
    --swiper-pagination-bullet-inactive-opacity: 0.6;
    --swiper-pagination-bullet-horizontal-gap: 8px;
    --swiper-pagination-bullet-size: 8px;
    --swiper-pagination-bullet-width: 8px;
    --swiper-pagination-bullet-height: 8px;
}