.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: none;
    border-radius: 16px;
    background-color: var(--blue);
    color: var(--white);
    text-decoration: none;
    @include font-options(700, 22px, 27px);
    @include transition;
    cursor: pointer;

    &__secondary {
        background-color: var(--light);
        color: var(--dark);

        &:hover {
            color: var(--white);
        }
    }

    &__small {
        @include font-options(700, 16px, 19px);
    }

    &__rounded {
        padding: 12px 24px;
        border-radius: 25px;
    }

    &__shadow {
        box-shadow: 0px 4px 11px rgba(33, 33, 33, 0.35);

        &:hover {
            box-shadow: 0px 8px 11px rgba(33, 33, 33, 0.75);
        }
    }

    span {
        + i {
            margin-left: 30px;
        }
    }

    &:hover {
        background-color: var(--blue-100);
    }
}