.footer {
    display: flex;
    flex-direction: column;
    background-color: var(--dark);
    color: var(--gray-200);
    @include font-options(400, 16px, 19px);
    border-radius: 16px 16px 0 0;
    margin-top: auto;
    padding: 14px 24px;

    &_wrap {
        display: flex;
        flex-direction: column;
        @include desktop {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__left {
        @include tablet {
            display: flex;
            justify-content: space-between;
            width: 100%;
            gap: 24px;
        }
        @include desktop {
            width: 50%;
        }
    }

    &__right {
        margin-top: 23px;
        @include desktop {
            width: 40%;
            max-width: 464px;
        }
    }

    &_block {
        margin-top: 23px;
    }

    &_nav {
        display: flex;
        flex-direction: column;

        @include tablet {
            margin-top: 23px;
        }

        b {
            @include font-options(700, 20px, 24px);
        }

        a {
            margin-top: 6px;
            @include font-options(400, 16px, 19px);
            color: #fff;
            text-decoration: none;
            @include transition;

            &:hover {
                color: var(--blue);
            }

            i {
                color: var(--blue);
            }
        }
    }

    &_copyright {
        margin-top: 28px;
    }

    &_copyright {
        margin-top: 24px;
        text-align: center;
    }
}